.dockable-content [class*="span"] {
    height: 100%;
}

/* Dockable Content */
.dockable-content {
    position: relative;
    background-color: #E6E6E6;
    margin: auto;
    padding: 0;
    width: 100%;
    
    border: 0px none;    
    border-radius: .5em;
    -moz-border-radius: .5em;
    
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.dockable-header {
    padding: 0px 16px;
    height: 30px;
    background-color: #383F49;
    color: #2AABE4;
    
    border-top-right-radius: .5em;
    border-top-left-radius: .5em;
    
    -moz-border-radius-topright: .5em;
    -moz-border-radius-topleft: .5em;
}

.dockable-header > h2 > span {
    color: #FFF;
}

/*.dockable-header > span:hover {
    cursor: pointer;
}*/

/* The Close Button */
.close {
    color: #636F7F;
    float: right;
    font-size: 20px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.dockable-graph {
    height: 150px;
    width: 100%;
    background-color: #2F333C;
}

.dockable-stats {
    height: 150px;
    width: 100%;
    background-color: #E8E8E8;
    /*background-color: #fff;*/
    
    border-bottom-right-radius: .5em;
    border-bottom-left-radius: .5em;
    
    -moz-border-radius-bottomright: .5em;
    -moz-border-radius-bottomleft: .5em;
}

.statistics-title {
    color: #4E525B;
    text-align: center;
}

.statistics-value-default {
    color: #636F7F;
    text-align: center;
}

.statistics-value-green {
    color: #95C83D;
    text-align: center;
}

.statistics-value-red {
    color: #EC1A41;
    text-align: center;
}

.statistics-value-orange {
    color: #F6911D;
    text-align: center;
}

/*.col-gap5 {
    width: 100%;
    margin-left: 5px; 
    margin-right: 5px;
    background-color: #E8E8E8;
}*/

/* dropdown list*/

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

/* dropdown list*/